.yellow-ligne{
    background-color: #ffd233;
    height: 5px;
}
.black-ligne{
    background-color: #000000;
    height: 15px;
}
.red-line{
    background-color: crimson;
    height: 2px;
}
.card{
    border-radius:none!important;
    border: none !important;
    background-color: #e3cb7d !important;
}
.rabeb{
    width: 100%;
}
.por{
    color: darkorange;
}
.my{
    color: aqua;
}
.bg{
    background-color: sandybrown;
}